# Dependencies
node_modules

# Build outputs
.next
out

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
docker-build.log

# Build logs
build*.log
docker-build*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea
*.swp

# Git
.git
.gitignore

# Documentation
*.md

# Docker
Dockerfile
docker-compose*.yml
