apiVersion: v1
kind: Service
metadata:
  name: nabijiyo
  namespace: ai-lounge
  labels:
    app: nabijiyo
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: nabijiyo
